$var30: 30px;

.weather_i_container {
    margin-top: $var30;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    p {
        font-size: 20px;
        margin-top: $var30;
        font-family: 'Hind Siliguri';
    }
    
    
}