.weather_i_wrap {
    .weather_i_bg {
        margin-left: 150px;
        height: 800px;
        width: 550px;
        
        
        
        backdrop-filter: blur( 19.5px );
        -webkit-backdrop-filter: blur( 19.5px );
        border-radius: 10px;
        
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

        .content_wrap {
            padding: 30px;
            
            .weather_search {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .search {
                    outline: 0;
                    border-width: 0 0 2px;
                    border-color: white;
                    background: none;
                    width: 300px;
                    height: 50px;
                    font-size: 20px;
                }
                .btn {
                    background-color: orange;
                    color: black;
                    border: none;
                    border-radius: 20px;
                    cursor: pointer;
                    height: 50px;
                    width: 150px;
                    font-size: 20px;
                    font-family: 'Hind Siliguri';
                    margin-left: 20px;
                }
            }
            .weather_info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                h1 {
                    font-family: 'Hind Siliguri';
                }
                .weather_i_container {
                    display: flex;
                    p {
                        font-family: 'Hind Siliguri';
                    }
                }
            }
        }
    }
}