@font-face {
    font-family: 'Hind Siliguri';
    src: url('./fonts/HindSiliguri-Medium.eot');
    src: url('./fonts/HindSiliguri-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/HindSiliguri-Medium.woff2') format('woff2'),
        url('./fonts/HindSiliguri-Medium.woff') format('woff'),
        url('./fonts/HindSiliguri-Medium.ttf') format('truetype'),
        url('./fonts/HindSiliguri-Medium.svg#HindSiliguri-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
